[2019-03-25 12:20] corpetty opened #1 "Decide on SIP process and format"
What do we want this repo to look like in terms of format of separate followed specs?

Are we to follow the given example of bittorrent?  If so, then we need to come up with a process of BEP/EIP/BIP-like process.

I suggest we follow the following [RFC2119](https://tools.ietf.org/html/rfc2119) with regards to wording.

[2019-04-03 20:12] arnetheduck commented on #1
EIP is based on https://www.python.org/dev/peps/ which I think is a good process to use when we grow up a bit since it's maybe a bit on the heavy side for where we are, right now. RFC2119 sgtm, and I'd start off with a normal PR workflow - this of course depends on there being a spec in an approachable format.

All this will become easier as well when we've migrated over to some machine-readable m

[2019-04-18 07:57] oskarth commented on #1
Started WIP here https://github.com/status-im/specs/pull/5, based on EIP and basic tweaks. If we want to start lighter we can do so, but it seems nice to at least have a template format, some basic types and standard headers.

RFC2119 is being used in current document protocol PR.

[2019-04-18 08:08] oskarth opened #6 "Document specific EIPs supported"
To avoid situations like this: https://discuss.status.im/t/sending-limit-per-contact/1179/6?u=oskarth

And make it clear which once we support and not.

Also see LES etc.

This is more of an INFORMATIONAL one for each client (status-go, Status App), but really useful to have at a glance.

[2019-04-19 05:17] oskarth commented on #1
Re wire format, created issue here https://github.com/status-im/bigbrother-specs/issues/10 Relevant for minimally viable data sync @decanus is working on

[2019-04-22 04:00] oskarth opened #9 "Apply SoK overview to each layer"
See https://github.com/status-im/status.im/pull/231

- Trust establishment
- Conversational security (PFS etc)
- Transport privacy (Whisper etc)

Also protocol overview and specific considerations, payloads etc

[2019-04-22 04:40] oskarth commented on #9
Done in master, mostly as import. Need to structure it better.

[2019-04-22 04:40] #9 closed, assigned to nobody

[2019-04-22 05:07] oskarth opened #10 "Status protocol stack specifications, umbrella issue"
Umbrella issue to capture documenting current protocol specification effort. Should pass the following litmus tests:

* [ ] Someone can read these set of specifications and implement a Status client
* [ ] They should clarify what security guarantees the protocol(s) provide and don't provide
* [ ] As well as what each protocol/layer requires and provides
* [ ] They should be described as orthogonal

[2019-04-22 05:11] oskarth opened #11 "Initial Protocol Overview"
This should give an overview of the protocol stack. Design goals, roughly mention each layer, what this gives in terms of guarantees, as well as specific considerations when it comes to using the layers together.

Things like how we do transport should to the greatest extent possible be an implementation detail, and instead be explained in a different document.

See https://github.com/status-im/sp

[2019-04-22 05:14] oskarth opened #12 "Initial Trust Establishment Specification"
Trust establishment refers to the combination  of *long-term key  exchange* and *long term key authentication*.

This should answer how we establish trust in Status, i.e. between clients, and any other type of trust establishment (like mailservers etc).

See https://github.com/status-im/specs/blob/master/x5.md for current draft.

- If certain things are deemed as out of scope, e.g. ENS usernames,

[2019-04-22 05:16] oskarth opened #13 "Initial Conversational Security Specification"
This should give an overview of how we provide conversational security in Status.

See https://github.com/status-im/specs/blob/master/x6.md for current draft (kudos to @cammellos @PombeirP), as well Adam's initial spec.

The main issue with the current PFS whitepaper is that it treats PFS as a special thing, as opposed to talking about conversational security more generally (this might be more of

[2019-04-22 05:21] oskarth opened #14 "Initial Transport Privacy through Whisper Specification"
This should give an overview of the transport privacy layer through Whisper. It should also mention requirements such as Devp2p (plus possible workarounds like libp2p mirror (side note)).

It should be structured in such a way that Whisper is an implementation detail, and it can be replaced by another spec, such as use of PSS, or Tor, or local network, or mixnet, etc.

We have a great start with @

[2019-04-22 05:24] oskarth opened #15 "Initial Message Payload Specification"
This should give an overview of our message payload and contents. What's special about this one is that it doesn't really provide any security guarantees (or at least not many).

Things like upgradability are a concern here, as well as how to deal with new types (e..g what is a sticker in a CLI client?).

One of thinking of these is more like different clients, so TTT and Sticker market and Extens

[2019-04-23 06:12] adambabik commented on #10
It's a great idea! As long as I tried to collect as many things as possible, I agree that we need a methodological approach to move the current protocol spec from a draft to accepted state and it looks like a great plan!

[2019-04-24 12:49] oskarth opened #16 "Document multidevice"
See https://dev.status.im/research/pfs.html section. Relevant for moving to device based comms

Not sure which one it belongs to, possibly x4?

[2019-04-24 19:38] adambabik commented on #11
I am not sure about these acceptance criteria because this is only an overview. For example:

This is not true for the overview. Reading the overview might tell someone whether this protocol meets their requirements or fits into their stack.

I would change them to:
- [ ] One can judge whether this protocol meets their requirements (functional as well as security) and technical stack.
- [ ] It sho

[2019-04-24 19:53] adambabik commented on #10
A few comments/suggestions after spending more time with this issue:
- I think we need more specific acceptance criteria in each topic; currently acceptance criteria are copied from this issue.
- It's a bit unclear what kind of topics should be described in each "subspec". This should be clarified before submitting PRs.
- "Initial Trust Establishment Specification" -- I am not sure if this should

[2019-04-25 03:26] oskarth commented on #12
I updated this with more specifics @adambabik. It is largely orthogonal to things like our use of Whisper as a transport, PFS feature, etc.

[2019-04-25 03:27] oskarth commented on #11
Fair, changed to your points. Thanks for suggesting specific alternatives :)

[2019-04-25 03:29] oskarth commented on #12
@corpetty Is this something you would want to take a stab at in terms of getting to a solid draft? Largely based on work we did in Brussels, plus some stuff you've been thinking about lately.

The main gotcha as I see it is to ensure we don't confuse app vs protocol, so we can talk about recommended practices for app (e.g. later on cold keycard authentication, etc) but the focus should be on thing

[2019-04-25 03:30] oskarth commented on #12
For context, I don't think this is too fleshed out in the docs by Adam and Andrea in terms of properties we looked at (though it is mentioned briefly), and Adam is off on vacation for a few weeks.

[2019-04-25 03:44] oskarth commented on #10
I think a lot of these have similar acceptance criteria tbh, but we can always drill down into specific properties it should cover. I made an example of this here https://github.com/status-im/specs/issues/12

Ack on the protocol overview one, changed to your suggested acceptance criteria.

Disagree, and this reflects our lack of thinking about this. See issue for a plethora of aspects it should co

[2019-04-25 03:46] oskarth commented on #14
FYI updated @adambabik

[2019-04-25 03:48] oskarth commented on #13
@adambabik @decanus fyi updated

[2019-04-25 03:49] oskarth commented on #16
My bad, this belongs in https://github.com/status-im/specs/issues/13

[2019-04-25 06:13] adambabik commented on #10
Right but we are documenting the current protocol now and many aspects that we didn't cover are part of the design of the next protocol. Or you would like to mention these uncovered aspects here just to point out they are missing?

That's right but my understanding was that we want to describe what we currently have and in the mean time work on the design of the future protocol as a separate docum

[2019-04-26 04:56] oskarth commented on #13
Connecting with this issue that is related https://github.com/status-im/bigbrother-specs/pull/7#issuecomment-486925514

[2019-04-30 05:26] oskarth commented on #16
Captured in other spec

[2019-04-30 05:26] #16 closed, assigned to nobody

[2019-05-13 05:51] oskarth commented on #12
@corpetty how is this going? I think just minimal basics would be useful, can be timeboxed ~1-2h.

[2019-05-16 04:53] oskarth commented on #14
Additionally, possibly separate, elaborate on mailserver system model and client pov https://github.com/status-im/status-react/blob/develop/src/status_im/mailserver/core.cljs

[2019-05-20 04:56] oskarth commented on #13
Elaborate more on bid process https://github.com/status-im/status-react/blob/c9994b5d0f72377ec51000541e6b02500f8430f5/src/status_im/utils/clocks.cljs

[2019-06-10 01:58] oskarth commented on #10
@adambabik what's your thinking re us finishing up this one? I realize we expanded scope a bit and that was my fault, perhaps we can ensure a more narrow scope and get these specifications into a somewhat done state? WDYT?

[2019-07-08 06:08] #15 closed, assigned to nobody

[2019-07-10 04:08] oskarth commented on #15
@adambabik are there any follow up issues we should create to attack later?

[2019-07-10 05:03] adambabik opened #21 "[Message Payload] Describe the rest of content-types"
In the Initial Message Payload Spec, we have listed all currently introduced content-types. We should explain what they are even though they are optional to be implemented: https://github.com/status-im/specs/blob/master/x8.md#content-types.

[2019-07-10 05:04] adambabik opened #22 "[Message Payload] Describe the format of replies/citations"
In the client, it's possible to reply to someone's message. Is this a part of the protocol at all? If so, we need to describe how it works in https://github.com/status-im/specs/blob/master/x8.md#replies.

[2019-07-12 02:41] #11 closed, assigned to nobody

[2019-07-12 03:02] oskarth commented on #22
@status-im/clojure

[2019-07-12 03:03] oskarth commented on #21
@status-im/clojure

[2019-07-12 03:05] oskarth commented on #10
@adambabik In light of recent work and reducing scope, what do you think we should do with this and associated issues?

[2019-07-12 03:43] oskarth opened #26 "Spec template"
We should have a standard format of specs so they are easier to read and parse.

Here's one example that's fairly clean https://github.com/status-im/bigbrother-specs/blob/master/data_sync/mvds.md#table-of-contents

Wdyt @status-im/status-protocol

[2019-07-12 03:46] oskarth opened #27 "Include MVDS deployment in spec"
Considering we are going to use MVDS for v1 1:1 chats (https://github.com/status-im/bigbrother-specs/blob/master/data_sync/mvds.md), this should be reflected in the current specifications.

It is OK if we reference the MVDS spec and let it live elsewhere, but it has to be mentioned at least within some scope.

@decanus @cammellos

[2019-07-12 03:48] oskarth commented on #26
Also see https://github.com/status-im/specs/issues/1

This issue is slightly more narrow in scope, as it only deals with the individual spec format. More formal process can come later.

[2019-07-12 03:50] oskarth opened #28 "[Protocol overview] Elaborate on overview"
In https://github.com/status-im/specs/blob/master/x4.md#protocol-overview

    why p2p?
    why on Ethereum stack?
    designed for mobile from the beginning

Write a paragraph or two on this.

[2019-07-12 03:52] oskarth opened #29 "[Protocol overview] Elaborate on Censorship resistance"
See https://github.com/status-im/specs/blob/master/x4.md#censorship-resistance

Actually I'm not sure if this belongs in the overview, wouldn't this be more for P2P layer when it comes to ports etc?

Can maybe just cut it?

@adambabik

[2019-07-12 04:02] oskarth opened #30 "[Conversational security] Clean up and make more concise"
Currently https://github.com/status-im/specs/blob/master/x6.md has a lot of extra stuff in it. It'd be good if we can make it more concise, while capturing the necessary points in the surrounding draft text.

When in doubt we should cut things.

[2019-07-12 04:03] oskarth commented on #30
fyi @adambabik @cammellos

[2019-07-12 04:04] oskarth opened #31 "[Transport privacy] Clean up and make more concise"
See https://github.com/status-im/specs/blob/master/x7.md

Similar to https://github.com/status-im/specs/issues/30 issue. A lot of extra draft stuff that we can cut.

@adambabik

[2019-07-12 04:07] oskarth commented on #6
cc @status-im/clojure

[2019-07-12 10:25] oskarth opened #32 "Document device based communication and negotiation"
With this we can do things like protocol negotiation. This was developed as part of topic partitioning.

Need to figure out specifics for how it'd work with something like MVDS too

[2019-07-12 13:40] corpetty commented on #26
I like the MVDS spec format, personally. We can get nitpicky once
everything is in such a state.

Corey

On Thu, Jul 11, 2019 at 11:48 PM Oskar Thorén <notifications@github.com>
wrote:

[2019-09-06 14:14] kdeme opened #48 "Document workings of private groups"
Unless I'm missing something, the workings of private groups chats and `group-user-message` are not really described.

It is mentioned at https://github.com/status-im/specs/blob/master/status-payloads-spec.md#message-types

And at https://github.com/status-im/specs/blob/master/status-secure-transport-spec.md#messaging it is said that private group chat can  be reduced to 1:1 chat. But it would be

[2019-09-18 09:11] corpetty commented on #32
@cammellos I'm assuming https://github.com/status-im/specs/commit/494d0a74bbd20bc82a95d1bdebc696fb4f9d2b26 was meant to close this?

[2019-09-18 09:12] cammellos commented on #32
If we are happy with it, it can be closed

[2019-09-18 09:14] corpetty commented on #32
will close for now, open something new if needed.

[2019-09-18 09:14] #32 closed, assigned to cammellos

[2019-09-18 09:17] corpetty commented on #28
As it currently stands, it isn't obvious what doc this would live in.

[2019-09-18 09:19] corpetty commented on #29
We can work on security implications of specs after we clear specs.

[2019-09-18 09:19] #29 closed, assigned to nobody

[2019-09-18 13:21] oskarth commented on #28
I think we can ignore this for now, too wordy. Closing

[2019-09-18 13:21] #28 closed, assigned to nobody

[2019-10-07 21:46] #21 closed, assigned to nobody

[2019-10-08 13:57] cammellos commented on #22
That's already specified https://github.com/status-im/specs/blob/master/status-payloads-spec.md `response-to` , the current develop branch is using `response-to-v2`, but the plan was to change it back to `response-to` as we don't need to be backward compatible anymore.
cc @corpetty

[2019-10-08 13:59] #22 closed, assigned to nobody

[2019-10-15 04:27] oskarth opened #53 "Create a bandwidth-optimized node type proof-of-concept spec"
Create a PoC node for trading off bandwidth restricted devices that cares less about metadata protection.

Rationale:
- A large subset of users care a lot more about bandwidth usage than metadata protection
  - to the extent that few core contributors use Status on a daily basis
- privacy guarantees of Whisper are spotty at best
- a major overhaul of this layer is likely needed, but we can also wo

[2019-10-22 04:10] oskarth opened #55 "Fix Whisper usage spec wrt mailserver"
As a client implementer, I want specs to describe how to use mailservers, not how the Status app works.

## Right now
Currently this spec: https://github.com/status-im/specs/blob/master/status-whisper-usage-spec.md#request-historic-messages explains the boring / non protocoly part: status-react to status go.

## Expected

Instead, it should explain the interface between status-go and mailservers.

[2019-10-22 04:12] oskarth commented on #48
@cammellos is this still relevant / ongoing? If not, can we unassign and explicitly deprio/write then it will be attacked?

cc @corpetty

[2019-10-22 04:15] oskarth opened #56 "Whisper Usage spec should include security considerations"
E.g. see https://github.com/status-im/specs/blob/master/status-whisper-mailserver-spec.md#security-considerations

It should include:

- DoS attack vector due to (low) PoW
- Some known potential darkness issues (topic reuse; light nodes not relaying)
  - Also @kdeme found some new ones! https://github.com/status-im/nim-eth/issues/105 and https://github.com/status-im/nim-eth/issues/106

cc @adambab

[2019-10-22 04:17] oskarth commented on #6
^ @andremedeiros @yenda @flexsurfer @corpetty @rachel fyi, would love to this documented, even in just a basic form. rachelhamlin

[2019-10-22 04:18] oskarth commented on #1
Update: for now we are using a lightweight PR based workflow.

Post v1 this might change, but right now there's no strong need.

[2019-10-22 04:20] oskarth commented on #10
Largely done; closing as no longer relevant. If we want to do further QA of specs, I suggest we do this through more specific issues.

[2019-10-22 04:20] #10 closed, assigned to nobody

[2019-10-22 04:21] oskarth commented on #12
Largely done; closing as no longer relevant. If we want to do further QA of specs, I suggest we do this through more specific issues.

[2019-10-22 04:21] #12 closed, assigned to nobody

[2019-10-22 04:21] oskarth commented on #13
Largely done; closing as no longer relevant. If we want to do further QA of specs, I suggest we do this through more specific issues.

[2019-10-22 04:21] #13 closed, assigned to nobody

[2019-10-22 04:21] oskarth commented on #14
Largely done; closing as no longer relevant. If we want to do further QA of specs, I suggest we do this through more specific issues.

[2019-10-22 04:21] #14 closed, assigned to nobody

[2019-10-22 04:22] oskarth commented on #26
Done I believe

[2019-10-22 04:22] #26 closed, assigned to nobody

[2019-10-22 04:25] oskarth commented on #27
Currently the only mention of MVDS in specs we have is here

Are we happy with this? If not, what changes do we want to make for this?
cc @corpetty @adambabik @cammellos @decanus

[2019-10-22 04:26] oskarth commented on #30
Largely done.

[2019-10-22 04:26] #30 closed, assigned to nobody

[2019-10-22 04:26] oskarth commented on #31
Largely done.

[2019-10-22 04:26] #31 closed, assigned to nobody

[2019-10-22 04:31] oskarth opened #57 "Document Lamport unix time bidding process"
Currently  https://github.com/status-im/specs/blob/978c5b77bb45805df91a326132b4bc89671006d2/status-payloads-spec.md#clock-vs-timestamp-and-message-ordering mentions use of Lamport clocks.

However, it doesn't appear to mention the unix time bidding process tweak and rationale (with Lamport invariant) described in https://github.com/status-im/status-react/blob/c9994b5d0f72377ec51000541e6b02500f8430

[2019-10-22 07:35] cammellos commented on #48
This should be done https://github.com/status-im/specs/blob/master/status-group-chats-spec.md

[2019-10-22 07:36] oskarth commented on #48
@kdeme does above solve your issue?

[2019-10-22 07:37] decanus commented on #27
@oskarth, we should also mention which version of MVDS we use.

[2019-10-22 07:37] cammellos commented on #27
We should describe how we use groups probably, currently we just use `pk1-pk2` where `pks` are ordered ASC , but we might want to rethink this (does not take into consideration multiple devices, which works fine, but maybe there's better)

[2019-10-22 08:00] kdeme commented on #48
Yeah it does. Great, thanks!

[2019-10-22 08:00] #48 closed, assigned to cammellos

[2019-10-28 11:24] oskarth commented on #6
https://notes.status.im/h_so7p_4T3WK0aTytRX1YA# this one by @3esmit is an amazing start! Would love to see it as a PR to this repo

[2019-10-28 12:18] 3esmit commented on #6
@oskarth I will happy in help documenting all EIPs supported by Status.

The notes you linked are respective only to Status-React, which mostly envolve stuff related to wallet and dapp browser, but not related to status/whisper protocol (as this is part of status-go) or to ethereum/blockchain consensus.

There is almost an EIP to every detail on ethereum, which is awesome, but can make this list o

[2019-10-28 13:53] rachelhamlin commented on #6
Perhaps two tables in the same doc? If [doc week](https://discuss.status.im/t/doc-week-proposal/1442/6) becomes a thing, we could work on improving the information architecture then.

[2019-10-29 04:49] oskarth commented on #6
Good points, I don't know. Whatever is easiest for now, and then we can go from there? Perhaps it makes sense to separate EIPs and ERCs. I'm not convinced separating status-go and status-react makes sense, this seems more like an implementation detail, but I could be wrong.

A lot of this is documented in specs already.

Also cc @adambabik @decanus for thoughts

[2019-11-04 10:33] oskarth commented on #6
@3esmit what do you think of just adding above HackMD as PR? We can iterate later, but it'd be good to capture it in specs repo.

[2019-11-04 13:50] 3esmit commented on #6
Fine, I can PR it.

Questions:
1. Include in the list "under consideration" (which is in this list because one or more Status.im contributors mentioned it)? Or keep the list strictly to what is already implemented?
2. The format I am using is OK or there is anything I should improve? Do you want me to copy other example/template?

[2019-11-05 05:42] oskarth commented on #6
Thanks!

1. Only things that are actually in implemented IMO, then we can have issues in specs to get more EIPs part of it
2. Format seems fine for now, can tweak later. For template, can use basic one that exists in current specs e.g. https://raw.githubusercontent.com/status-im/specs/master/status-client-spec.md but no need to go overboard

cc @corpetty

Then for document week we can figure out h

[2019-11-05 09:44] rachelhamlin commented on #6
I appreciate that doc week is a thing now. :) Soliciting more feedback and buy-in on that now.

[2019-11-05 15:44] adambabik opened #58 "Document added Whisper packet codes"
We would like to document all Whisper packet codes that extend EIP-627 so that other implementation can be complete in terms of feature set.

### Acceptance criteria

1. Determine which packet codes present in [our Whisper fork](https://github.com/status-im/whisper) are actively used.
2. Document used packet codes with their purpose.

### References

- Discussion started in https://github.com/stat

[2019-11-05 15:46] adambabik opened #59 "Document additional parameters in the Whisper handshake"
We would like to document the additional parameters in the Whisper handshake added in the protocol.

### Acceptance criteria

1. Describe all additional parameters present in the Whisper handshake in [our fork of Whisper](https://github.com/status-im/whisper).

### References

- Discussion started in https://github.com/status-im/specs/pull/54#discussion_r342635703.

[2019-11-14 05:45] oskarth opened #61 "Replace forked Whisper usage with Waku/0 in specs"
# Problem
Currently we use a forked version of Whisper that isn't documented in any great detail. This makes it difficult for other clients to implement and get compatibility with Status clients, e.g. status-nim. It also creates confusion around what requirements and guarantees we have, since we are de facto doing more than EIP627 and this has implications around UX, privacy, DDoS resistance, etc

[2019-11-15 14:55] adambabik commented on #55
@oskarth

This is not related to status-react but it's a definition of a JSON-RPC API to send a request for historic messages. I think this is crucial to be specified so that clients can use any Whisper implementation they want.

[2019-11-18 04:26] oskarth commented on #55
Ok, that's fine. As long as it is clear how you actually implement mailserver/client support for a different implementation. Right now this isn't too clear IMO.

cc @kdeme @decanus

[2019-11-18 05:13] oskarth commented on #61
Blocked by https://github.com/vacp2p/specs/issues/27

[2019-11-18 11:33] cammellos opened #62 "Move from transit to protobuf"
We decided to move from transit to protobuf.

The main reasons for this are:

* Consistency. We use protobuf already for most of the messages, and transit only for the application layer.
* Better interop with other languages. Protobuf has better support in various languages then transit.
* Security. Protobuf has a set of well maintained libraries, which will avoid having to use less tested/popular

[2019-11-20 03:05] decanus opened #63 "Implementation matrix for Whisper/Waku clients"
## Problem

What it means to support Whisper/Waku isn't clear, as there are many different components of it. Geth/nimbus/parity should be added to spec of where lightnode implementation exists for waku

## Details
Dimensions to capture:
- [x] light mode
- [x] mailserver server
- [x] mailserver client
- [x] shh/6
- [x] waku/0

Code bases (with relevant version number / commit hash of need be):
- [x

[2019-11-20 04:05] oskarth commented on #63
Can turn this (issue, then matrix) into a checklist, corresponding with each capability and client version. E.g.

Dimensions:
light mode
mailserver server
mailserver client
shh/6
waku/0

Code bases (with relevant version number / commit hash of need be):
geth
status whisper
parity
nim-eth
javascript? (Embark)

It can be a WIP, so acceptance criteria OK to have empty rows, etc.

Any other dimension

[2019-11-20 18:15] decanus commented on #63
so by the looks of it @oskarth, parity doesn't seem to include whisper anymore. However I did find this: https://github.com/paritytech/parity/pull/7421, no idea what the state of that is, hence I suggest we drop parity from the list.

[2019-11-20 18:28] decanus commented on #63
@oskarth https://notes.status.im/sWRbsbX4QjuNE5f3BAvHBw?both here is a start to the matrix. Would be good if someone else had a look, once that is done we can add it to the repo.

[2019-11-21 02:57] oskarth commented on #63
Looks good, I think we can merge this as is (first PR). Where should we put it? By default I'd put it in the main Status client spec under a section "Implementation Matrix" or so.

[2019-11-21 20:08] corpetty opened #65 "The road to V1 specs and more"
Alright, this issue is a to track and describe what needs to be done to get to the start of V1 specs.  For V1, I'm ok with the first non-draft version having overlap with specs that live in vacp2p specs. As things finalize there, we can remove them here and appropriately reference them here with our design decisions around that reference.

I'd also like to store various higher-level views of the S

[2019-11-21 23:03] decanus commented on #63
@oskarth what is the right place for the matrix?

[2019-11-22 04:40] oskarth commented on #63
Either Vac Waku spec implementation status append, or Status main client spec

[2019-11-25 07:50] adambabik opened #66 "Describe the rate limiting feedback for peers"
## Problem

Due to using a low PoW, [Status nodes and clients are vulnerable](https://github.com/status-im/trailofbits-audit/issues/35) to a denial of service attack.

It's not possible to increase PoW because of mobile usage. The alternative is an [implementation of rate limiting](https://github.com/status-im/whisper/pull/33).

## Solution

Describe in the spec, how rate limiting would work. It s

[2019-11-25 09:39] #55 closed, assigned to nobody

[2019-11-26 09:45] rachelhamlin opened #67 "Mentions in chat"
# Mentions Specs v2

### User Stories

#### As a (sending) user, I want to get the attention of certain individuals within group or public chats.

#### As a (receiving) user, I want to notice when someone calls me out or responds to me directly in a group or public chat.

### Iterations

**MVP:** Discord style mentions: Visual distinction only.

**v1:** Mentions & replies via PN for Android: Visua

[2019-11-26 09:46] rachelhamlin commented on #67
cc @cammellos @yenda @errorists for review

[2019-11-26 10:03] cammellos commented on #67
Looks ok, to me, I would have a more detailed issue for the first iteration, as there's are still a few things to iron out, for example

I guess in a one-to-one is disabled. In a private group chat is the list of users who joined that group chat, in a public chat is not so clear, as it would be anyone who posted in that chat, as there's no concept of membership. That can be a fairly large number,

[2019-11-26 10:10] errorists commented on #67
After inserting the `@` character, the list should populate with a capped, say 16, number of people you mentioned most recently, ordered from most recent on top. If there's no one yet, then it's empty. As you start typing, only then it would try and match your query with anyone present in the chat.

I'm detailing that in the design now, I find that will be more helpful that a list of everyone pres

[2019-11-28 10:05] #6 closed, assigned to nobody

[2019-12-02 09:46] #66 closed, assigned to nobody

[2019-12-02 10:48] oskarth commented on #63
@decanus what's the state of this issue?

[2019-12-02 13:25] decanus commented on #63
@oskarth done.

[2019-12-02 13:25] #63 closed, assigned to nobody

[2019-12-03 04:45] oskarth commented on #67
Thanks! From a (protocol) spec POV, I believe it'l look something like:

- PR with diff here https://github.com/status-im/specs/blob/master/status-payloads-spec.md that mentions mention message type and expectations / how to parse
- some recommendation for clients section about e.g. capping rendering of mentions preview, how to get preview list, etc

Possibly privacy considerations too, if you men

[2019-12-03 04:46] oskarth commented on #58
Any update on this @adambabik? Would be good to get in Waku

Also cc @decanus

[2019-12-03 04:46] oskarth commented on #59
@adambabik @kdeme @decanus what's state of this? Would be good if we can finish this up and ensure Waku handshake is documented properly

[2019-12-03 07:52] adambabik commented on #59
It's been covered in https://github.com/status-im/specs/pull/60 as a separate section `Handshake`.

[2019-12-03 07:52] #59 closed, assigned to nobody

[2019-12-03 07:53] adambabik commented on #58
I think we have all packet codes covered now. The only thing is message confirmations which we haven't discussed yet and there is no notion of message confirmation in Waku/0 spec.

[2019-12-04 14:47] rachelhamlin opened #69 "Send images"
# Image Sending Specs

cc @errorists @flexsurfer :)

### User Stories

As a user, I want to send media from my device in 1:1, group and public chats.
- I want to take new photos/videos and send them.
- I want to upload existing photos/videos from my device and send them.

### POC: https://github.com/status-im/status-react/pull/9455

- Relies on IPFS rather than Status IPFS service.
- Reduce image

[2019-12-05 04:43] oskarth commented on #58
Where? There's an issue but no associated PR, yet you say it is "all covered".

Also if you are working on it, please assign yourself and mark it as TODO/WIP (or done if it is (?))

[2019-12-05 15:57] adambabik commented on #58
@oskarth sorry, we covered that for the Waku spec but not here. I will list all packet codes in https://github.com/status-im/specs/blob/master/status-whisper-usage-spec.md. There is no single place in this document that summaries packet codes.

[2019-12-05 16:06] adambabik opened #70 "Document how message confirmations work"
As a user,
I would like to know whether my message is properly sent through the wire and received by peers
so that I can be sure it has a chance to be propagated and received by others.

## Acceptance criteria

* Describe the current mechanism of message confirmations.
* Document all packet codes used to achieve this.
* Describe the role of peers in message confirmations.

[2019-12-06 08:59] adambabik opened #71 "Update spec with mailserver's p2pRequestCompleteCode packet"
## Problem

`p2pRequestCompleteCode` packet is used by mailservers to tell a requester that all envelopes were forwarded. It also contains some metadata like cursor.

## Solution

Add to the spec how the payload of `p2pRequestCompleteCode` looks like.

[2019-12-06 10:58] adambabik commented on #71
Ugh, I looked at the old version of the spec. This is described in [Receiving historic messages](https://github.com/status-im/specs/blob/master/status-whisper-mailserver-spec.md#receiving-historic-messages) starting with "For a requester, to know that all messages have been sent [...]".

[2019-12-06 10:58] #71 closed, assigned to nobody

[2019-12-06 14:20] decanus opened #73 "Remove certain specs, refer to Waku"
So there are now multiple sections which we have specified both in this repository and in https://github.com/vacp2p/specs, I propose that we remove the duplicates from this repository and refer back to vac. This will start transitioning this spec to more of implementation decisions rather than a full technical spec as we had previously planned.

cc @corpetty @oskarth @adambabik

[2019-12-08 14:42] adambabik commented on #73
I think we can do that when we actually switch the app to use Waku. It will take some time until this happens.

[2019-12-08 15:34] #58 closed, assigned to nobody

[2019-12-09 02:24] oskarth commented on #73
We could to this. However, it might make sense to switch a bit later, considering:

1. Status spec needs to get to a state to reflect v1 (audit, core release). This is the effort @corpetty is/will be leading here https://github.com/status-im/specs/issues/65 It'd be good to have more clarity on when and how that is going to be achieved.

2. Waku is still moving and hasn't been integrated end to end

[2019-12-10 21:10] corpetty commented on #1
leaving this here for later conversation: https://github.com/libp2p/specs#specs-framework

[2019-12-10 23:03] corpetty commented on #73
I agree with @oskarth and @adambabik.  It's fine to have some redundancy for now in lieu of getting the specs to V1 as fast as possible.

[2019-12-10 23:08] decanus commented on #73
@corpetty yeah we came to that conclusion on the call, we are leaving this issue open however to not forget about it.

[2019-12-16 10:40] #70 closed, assigned to nobody

[2019-12-19 02:55] oskarth opened #77 "Setup specs.status.im"
Or similar URL

Similar to https://specs.vac.dev/

- [ ] github page setup
- [ ] canonical domain

[2020-01-16 14:35] hesterbruikman opened #78 "Keys storage and encryption specs"
Looking to refer FAQ to more details specs of how keys are stored and encrypted on different devices.

[2020-02-14 05:38] oskarth commented on #73
See https://github.com/vacp2p/pm/issues/7

[2020-02-14 05:40] oskarth commented on #61
See https://github.com/vacp2p/pm/issues/7 https://github.com/status-im/specs/issues/73

[2020-03-18 14:06] rachelhamlin opened #83 "User referral program"
# Referral Implementation Steps
[Source](https://notes.status.im/oz6JEr_PTc-WL-WXFKd1OQ?edit)

**Android Only**

## Goal
We need to acquire users.

We will do so allowing people to append an invite code to a join.status.im url, in which they'll earn SNT for successful onboarding and/or purchase or starterpack

Practically speaking this will look like:

* Friend Referrals (Earn SNT for referring fr

[2020-03-20 09:47] oskarth commented on #65
@corpetty can we update the state of this?

[2020-03-23 08:38] oskarth commented on #77
@jakubgs any chance you could set this up?

[2020-03-23 08:39] oskarth commented on #78
@corpetty do we have this? I'd like to add this as well.

[2020-03-23 08:40] oskarth commented on #62
@cammellos This can be closed now right?

[2020-03-23 09:06] cammellos commented on #62
Yes, closing

[2020-03-23 09:06] #62 closed, assigned to cammellos

[2020-03-23 10:00] jakubgs commented on #77
Done:

- https://github.com/status-im/infra-misc/commit/36d306f3
- https://github.com/status-im/specs/commit/9cc3c753

[2020-03-23 10:00] #77 closed, assigned to nobody

[2020-03-24 05:44] oskarth commented on #27
Ping @decanus could you add this?

Also, are we using https://specs.vac.dev/specs/mvds-metadata.html in v1? @cammellos

[2020-03-24 06:04] oskarth opened #85 "Clarify spec lifecycle"
Mirror of https://github.com/vacp2p/specs/issues/103

[2020-03-24 06:10] cammellos commented on #27
We don't use metadata in the app

[2020-03-24 06:16] #85 closed, assigned to nobody

[2020-03-24 10:42] decanus commented on #27
@oskarth, which part would you like me to add? the groups? I think @cammellos may have more in detail knowledge on this than I do.

[2020-03-24 11:20] oskarth commented on #65
Taking this over. See open PRs here https://github.com/status-im/specs/pulls

[2020-03-25 04:12] #57 closed, assigned to nobody

[2020-03-27 07:36] oskarth commented on #1
For general organization: https://rfc.zeromq.org/

- Clear organization with different states (stable, draft etc)
- Clear numbers per spec; extensible
- Site gives a good overview
- Clear editors and contributors

[2020-03-27 07:37] #53 closed, assigned to oskarth, kdeme

[2020-03-27 07:38] oskarth commented on #65
Bare minimum done!

[2020-03-27 07:38] #65 closed, assigned to nobody

[2020-03-27 07:40] oskarth opened #95 "Cleaner RFC "SIPs" site"
Something similar to https://rfc.zeromq.org/spec/7/

1. Clear organization per lifecycle stage (doesn't mix raw with stable)
2. Unambiguous numbers and nice permalinks
3. Generally better overview with ToC
4. Editors
5. More extensible

[2020-03-27 07:42] oskarth opened #96 "Markdown and ToC linting/formatting"
Similar to eth2 spec uses

@decanus can you look at this one? Similar markdown file should work

cc @corpetty if you looked at this

[2020-03-30 05:56] oskarth commented on #95
Some progress here: https://specs.status.im/ (1,2, partial 3)

[2020-03-31 04:14] oskarth opened #97 "Preview navigation children in left bar"
## Problem

Currently you have to be on a child node in ToC to see siblings:

![image](https://user-images.githubusercontent.com/1552237/77986067-c2b98880-7348-11ea-95b2-c78870f6e4d9.png)

These child nodes should be visible from main page, but currently they are not:

![image](https://user-images.githubusercontent.com/1552237/77986125-e8df2880-7348-11ea-9171-597f7bd9191e.png)

## Notes

Probably

[2020-04-20 11:58] rachelhamlin commented on #69
@cammellos @yenda @flexsurfer we have these user requirements to build on for image sending.

What's the point of discrepancy with what we already have?

It would be good if we could capture pros/cons for alternative solutions, along with necessary third party services or dependencies.

[2020-04-20 13:08] cammellos commented on #69
I think we floated a few options:

### IPFS

IPFS in its current form requires "pinning" in order for the content not to be recycled.
Generally speaking, someone will need to "pin" the content in order for that to be available for a longer period of time (garbage collection is not something we can control, so we don't know how long it will be available for).
Client will access content through IPFS

[2020-04-20 15:18] yenda commented on #69
I think the profile image feature is related to this one. We will have to decide how to store the image in a way that doesn't leak user information. I don't think it would be desirable if by resolving ens names and profile image the user ip is revealed to a third party for instance. Otherwise that would be too easy to get someone's ip by sending them a message with an account that has an ens name.

[2020-04-20 17:53] errorists commented on #69
in a separate discussion we're thinking of adopting [webp](https://developers.google.com/speed/webp/) image compression for use with other image assets. With a heavier than average compression I'm thinking we could go down to about ~500kb per image uploaded. That's considerably less than the 2mb / image of the usual suspects. Another thing, not sure if it applies here, typically apps store multipl

[2020-04-21 06:49] cammellos commented on #69
`webp` sounds like a good idea.

There's also to consider encryption, we can't probably ask the user to upload an image to IPFS without encryption (for one-to-one or group chats for example).
Sending through waku will not have this problem as they'd be already encrypted.

This should be possible in case we host images somewhere else (so the waku message might contain a thumbnail).
If we go for a w

[2020-04-21 06:56] errorists commented on #69
just for the record I really like the Waku only solution, that's why I floated the numbers, I could help with providing some data on average image sizes if we're thinking of running a simulation.

[2020-04-21 06:57] cammellos commented on #69
please, I really have no idea myself :) we can put a cap as well

[2020-04-21 07:16] errorists commented on #69
so there are two things we can do to decrease image file size, one is size, we could downscale images so their longer side is no greater than 2000px. Typically that value is around 4000px for images captured with phone camera or stored in your gallery. The other is compression.
Combined, downscaling with webp compression at 60% quality, I could get JPGs that ranged from 100kb in size (a badly focu

[2020-04-22 06:53] rachelhamlin opened #102 "Personal nodes"
1. Research
2. Decide on viability
3. If viable, write specs
4. Implement

https://github.com/status-im/swarms/issues/28

[2020-04-22 09:01] hesterbruikman opened #103 "Transaction history management"
Specification should include:
- how tx history is requested from Infura
- functions included in Status-go
- how and when status-react requests tx updates for `outgoing` and `incoming` transactions
- how status-react handles pending transactions
- make clear what changes are required when moving away from Infura (different endpoint for archival data, rewriting recent txs to limit dependence on arch

[2020-04-29 09:27] flexsurfer commented on #69
waku and webp looks really interesting especially for 1-1 and group chats
so we could just send markdown something like `![Hello World](data:image/webp;base64,iVBORw0K..` and probably we could decrease image dimensions if needed to keep it under 200kb

[2020-04-29 09:31] cammellos commented on #69
Yes, to me that sounds the most obvious first step, it has low security implications, and should work out mostly out of the box, I would give this a try first.
I think @errorists is not too keen on having images in markdown (correct me if I am wrong), he prefers them to be sent/displayed separately, but in terms of protocol etc, that's just a detail.

[2020-04-29 09:35] flexsurfer commented on #69
the pros of sending as markdown we don't need any implementation on protocol level then, and users could use this feature without uploading images in status, they could just send strings, not sure if we have limits for message content probably we should have so users don't send huge images at least from the status app

[2020-04-29 09:36] errorists commented on #69
would markdown mean that in image is placed in the regular message container, just instead of text? That's something I wouldn't like us to do, I'd prefer if the image filled the entire message bubble, without the extra padding text has.

![Frame 15](https://user-images.githubusercontent.com/4932774/80581555-99eee680-8a0d-11ea-80f5-7b357730ce08.jpg)

[2020-04-29 09:39] flexsurfer commented on #69
yeah we could do the same as we do (or did?) it for emoji, if there is only one image in message show it without bubble

[2020-04-29 09:41] cammellos commented on #69
Say we embed them in markdown, how would you handle displaying (I don't mind either approaches myself):
`Hi this is ![me](data:image/webp;base64,iVBORw0K....`
?

[2020-04-29 09:53] cammellos commented on #69
Another issue is that for older clients this will be splat out , as they don't have a concept of images:
`Hi this is ![me](data:image/webp;base64,iVBORw0K....`
They will literally see `![me](data...)` which is a bit inconvenient, as opposed to see something like "content-type x" not handled.
Although we could mark the content-type as image as long as there's one image inside, in which case you won

[2020-04-29 10:55] errorists commented on #69
regarding markdown, will we be able to know if a message is an image for the purposes of copying pasting, long-press selection, replies etc.? for example if we were to attach individual actions for image type messages? Also for previewing, it's critical we add the tap to preview in full screen view to get the full UX you'd come to expect

[2020-04-29 10:58] cammellos commented on #69
Generally I would say yes, in some implementations it might be slightly more involved, but it should be fine in most cases, so I'd say yes

[2020-04-30 09:03] cammellos commented on #69
What do we need to get the ball rolling on this one?

It seems to me that there's some consensus in at least trying with images over waku, rather than IPFS, at least to start with.

This would mean for the time being that images need to be below 1MB for now, which seems acceptable.
Probably a bit lower than that, say 750KB, but I can look into exactly. Eventually we can have multipart but it's not

[2020-04-30 09:19] arnetheduck commented on #69
Re larger wire size, would it make sense to general-purpose-compress all payloads with something like snappy? This is what's done in eth2 for example

[2020-04-30 09:29] cammellos commented on #69
It would make sense to compress payloads in most cases, as definitely some will benefits from it (images probably won't as they are already highly compressed). The best way to do this is probably to compress at the RLP level, where we can negotiated the protocol between each host, because otherwise we would get into compatibility issues (in public chat we don't know the recipients, so effectively

[2020-04-30 09:30] errorists commented on #69
just to chime in, WebP is a compression algorithm that can output to any image file container be it a PNG or JPG. The format we want to use is JPG, with or without WebP (we have to test how it performs on mobile, it's noticeably more resource intensive when I used it on an 8-core Mac, compared to regular JPEG compression, it's also not as clear if we'll get smaller file sizes than regular JPEG, [s

[2020-04-30 09:33] flexsurfer commented on #69
regarding webp in react native
https://github.com/DylanVann/react-native-fast-image/issues/622
https://github.com/DylanVann/react-native-fast-image/issues/560

[2020-04-30 09:33] cammellos commented on #69
thanks for the clarification @errorists

[2020-04-30 09:38] cammellos commented on #69
Also, there's a difference on what we send to the wire and what we display.

For example is perfectly ok to send `webp` on the wire, but have the uncompressed jpg/png displayed to the user (status-go will take care of the conversion), so we don't actually have to support webp in react-native, although we can.

We have quite a lot of freedom here, and we can delay the exact choice of the format onc

[2020-04-30 09:39] errorists commented on #69
Separate message, each image container aka 'message bubble' can only have a single image inside, we shouldn't mix text and images, those would be split into two separate messages on the list : one for image, another for text

[2020-04-30 09:40] arnetheduck commented on #69
might get some of the base64 losses back though if going with the embedded option - and indeed, doing it at a lower level makes sense - I mentioned mainly in case size was the only blocker against embedding.

[2020-04-30 09:41] cammellos commented on #69
@arnetheduck thanks, it's a good suggestion, we'll see if we can push this forward with `waku/1`, as bandwidth is an issue.

@errorists thanks, given those consideration is probably safer for now to have a separate content-type for messages, @flexsurfer any objection?

[2020-04-30 09:44] hesterbruikman commented on #69
@cammellos with regards to moving this forward. Here are some of the required actions I see. Please tell me if I'm missing any:
1. [Write spec doc](https://github.com/status-im/status-react/issues/10417) based on this thread
2. Support image message type _(what are actions in status-go, status-react and protocol to do this?)_
3. Implement image compression for message type (status-go)
4. UI implem

[2020-04-30 09:44] flexsurfer commented on #69
no objections :)

[2020-04-30 09:51] cammellos commented on #69
@hesterbruikman most of it it's there:

3 is not necessary at the moment, and can be actioned as a separate task

4  is probably message display and sending as well

[2020-04-30 10:26] cammellos commented on #69
spec changes https://github.com/status-im/specs/pull/107

[2020-04-30 10:29] flexsurfer commented on #69
5. finish https://github.com/status-im/status-react/pull/9455  UI for capture and image selection

[2020-04-30 11:02] hesterbruikman commented on #69
To clarify, in what chats can Image Content type be used? Public, 1:1, Group?

[2020-04-30 11:18] cammellos commented on #69
yes, any kind of chat

[2020-04-30 11:46] hesterbruikman commented on #69
For reference, these are all related actions:

- [ ] 1. Write spec doc based on this 👆 thread https://github.com/status-im/status-react/issues/10417
- [ ] 2. Implementation image content type for chat messages https://github.com/status-im/specs/pull/107
- [ ] 3. Implement image compression for message type (status-go) - OPTIONAL
- [ ] 4. Message sending and display https://github.com/status-im/sta

[2020-04-30 11:50] flexsurfer commented on #69
i can take 4-6 if no objections

[2020-04-30 11:53] hesterbruikman commented on #69
Awesome @flexsurfer, thanks! Any takers for 1? I'm also happy to make a start but in that case I'll still need someone to fill in the blanks

[2020-04-30 11:55] cammellos commented on #69
https://github.com/status-im/specs/issues/69#issuecomment-621748008 should be enough for the technical specs?

[2020-04-30 11:59] cammellos commented on #69
3 is also not needed and won't be done as part of this.

Also, should we capture everything in one tasks with a user story and a clear deliverable?  (for example is replying to images necessary to go live or can be done in a second etc)  we can split it off in further issues if necessary, but we should encourage working together on this and not each one on separate tasks, as we can get into some i

[2020-04-30 11:59] andremedeiros commented on #69
@cammellos can you take that and submit a PR on status-im/specs?

Also, is there a way to do this work in an "adjacent" topic? ie. something users can opt-out or opt-in on?

[2020-04-30 12:01] hesterbruikman commented on #69
Some more specifics on what happens to images once displayed would be helpful for `7. View images in user profile for 1:1 chats`. Are they persistent? If so, how are they organized on the client?

[2020-04-30 12:01] cammellos commented on #69
Are people seeing this :) is the 3rd time I post it:

SPEC CHANGES https://github.com/status-im/specs/pull/107

[2020-04-30 12:08] hesterbruikman commented on #69
Sorry, the numbers make it look like priorities. Noted, not a requirement. Added the note Optional.

I was hoping this could serve as Epic issue. Happy to create one elsewhere if that works better. Agree, added links to next issue and the full list of epic tasks to individual tasks.

SPEC CHANGES #107

That's my bad! Sorry! Was going by the new [issue](https://github.com/status-im/status-react/iss

[2020-04-30 12:09] andremedeiros commented on #69
But @cammellos, can you PR on status-im/specs? /s

[2020-04-30 12:10] cammellos commented on #69
Yes, you could post an image on a separate topic and the actual message on the main topic (or post both in the "image topic" but in that way you won't be able to show the user a placeholder for the picture) and only fetch if the user explicitly allow that.

It's a bit cumbersome and you might get into a place where the image was not delivered etc, it would save bandwidth to those users who don't w

[2020-04-30 12:15] andremedeiros commented on #69
Awesome, thank you!

I'm obviously assuming this would become an issue (ie. folks wanting to opt out) so I might be making problems up where they don't exist.

If we send images directly now, would that be a "one way decision?" Can that be revisited in the future and re-implemented with the adjacent topic if folks express that opt-out is important to them?

It sounds like we have functional and te

[2020-04-30 12:22] cammellos commented on #69
Yes and no :)

So say we go live with this, any client with this version will send images on the main topic, all the clients with this version will be able to receive this.

At some point we want to move to a separate topic.

What will happen is that in newer client everything will work as expected, while older client won't be able to see those images, so we could show some text saying "Upgrade to

[2020-04-30 13:39] hesterbruikman commented on #69
@cammellos @flexsurfer do you see any tasks here that would exceed 3 days to complete? https://github.com/status-im/specs/issues/69#issuecomment-621782877 Disregarding item 3 and 7 for now

[2020-04-30 13:52] cammellos commented on #69
Time estimates again :facepalm:

3 days is unlikely to be enough for any complex task imo  if you take into account testing and QA, and this tasks will likely need manual QA.

4 is definitely more then 3 days to be conservative, disregarding the fact that some code is out already.

[2020-05-06 06:25] oskarth commented on #61
How is this issue going @samyoul?

cc @andremedeiros

[2020-05-06 07:07] cammellos commented on #69
Update regarding images:
unfortunately sending them via waku might not be viable, as it takes too long to calculate the PoW for even modest file sizes (256K for example).

Current PoW target is set to `0.002`, sending a 290KB image takes around 20 seconds on my laptop (Intel(R) Core(TM) i7-2620M CPU @ 2.70GHz 4 cores). This also means that the message is never propagated as it expires locally.
The

[2020-05-06 12:46] Samyoul commented on #61
Hey. I'll have a PR for this by the end of the day.

[2020-05-06 22:04] Samyoul commented on #61
@oskarth , the initial rewrite PR draft will not be ready today, there are too many refs to outdated things, or things that are sort of relevant or things that need further research to see if there are Waku analogous versions of Whisper terminology etc.

I will open a draft PR of what I've started, reference it here, and I'll keep adding to it until it is complete ready for review. I naively thoug

[2020-05-07 06:55] flexsurfer commented on #69
what is plan b?

[2020-05-07 06:56] flexsurfer commented on #69
offtopic: I'm wondering how it worked for avatars, we had pretty huge images for avatars

[2020-05-07 07:09] cammellos commented on #69
We are talking about decreasing the PoW, that's one option. It's a good point for avatars, as a matter of fact I believe many times the image was not sent (it's probabilistic, so you might get lucky every now and then a get it). For example when syncing contacts I had to remove images as they would not be dispatched (I believed at that time it was the size rather than the PoW, but likely it was th

[2020-05-07 11:08] hesterbruikman opened #112 "URI scheme"
**Might be paired with an identifier spec if it makes more sense to document how they are used in the URI scheme**

Structure of this spec should include:
- Scheme syntax
- Scheme semantics
- Encoding considerations
- Security considerations
- Applications that use the scheme (including e.g. join.status.im, dapps, Keycard)
- Operations
- Context of use
- Contact for change requests

For reference

[2020-05-07 11:09] hesterbruikman commented on #112
@andremedeiros can you check if these spec requirements make sense? I have zero experience documenting URI schemes

[2020-05-07 12:53] hesterbruikman opened #113 "Identifiers"
**Might go together with URI scheme if it makes more sense to document how identifiers are used in the scheme**

Conforms [DID specification requirements](https://www.w3.org/TR/did-core/) by W3C where possible. This may include, and is not limited to the information below. Up to your judgement and extend of implementation.

For all identifiers
- DID syntax (name, characters, id)
- Ownership
- Proo

[2020-05-07 12:53] hesterbruikman commented on #113
cc @andremedeiros

[2020-05-07 15:29] andremedeiros commented on #112
Look at status-im/status-go#1937 for reference.

[2020-05-07 17:17] Samyoul commented on #61
This is the draft https://github.com/status-im/specs/pull/114

[2020-05-11 07:22] flexsurfer commented on #69
so if we're going waky way my suggestion is to add image sending support only for 1-1 and group chats for the first time and see how it goes, wdyt @andremedeiros @cammellos @hesterbruikman

[2020-05-11 09:32] hesterbruikman commented on #69
Agreed. Less spam sensitive as well. Is it feasible to offer link unfurling for public chats in parallel?

[2020-05-11 09:37] cammellos commented on #69
This is a feature to be tracked separately, probably best to have a separate conversation, but it has no dependencies on this work.

[2020-05-11 10:08] hesterbruikman commented on #69
Url handling in chat epic for future reference: https://github.com/status-im/status-react/issues/10516

[2020-05-14 22:30] Samyoul opened #115 "Removal of Personal Pronouns From Specs"
## Introduction
The specifications have a mix of formal and informal language. Use of personal pronouns is generally common in informal text, and generally avoided in formal text.

It has been identified that:

* [Informal language exists and should be changed](https://github.com/status-im/specs/pull/114#discussion_r424382541)
* [Changes to the language would constitute a significant change to the

[2020-05-14 22:46] Samyoul opened #116 "Change 8-eips.md to 8-supported-specs.md"
## Introduction
[8-eips.md](https://github.com/status-im/specs/blob/master/docs/stable/8-eips.md) currently references both BIPs and EIPs. Granted EIPs are the majority of the specs referenced. However with the inclusion of Vac specs in to this document we would be adding yet another source of specification to the `8-eips.md` document.

* [Addressing this change is outside the scope of the Waku up

[2020-05-15 10:13] decanus commented on #115
I think @oskarth and I originally wanted to use no personal pronouns and this might have slipped through the cracks a bit. Happy to have this be done though.

[2020-05-15 10:16] oskarth commented on #115
Agree, feel free to issue PRs that make the language more consistent and appropriate

[2020-05-15 11:02] Samyoul commented on #116
@oskarth @3esmit with regards https://github.com/status-im/specs/pull/114#issuecomment-629034367

[2020-05-18 15:37] bgits opened #117 "Add new methods supporting chat functionality to status api in DApp browser"
Some features that have been requested in the past and would enhance DApps in a unique way that only Status can provide is exposing the chat api to DApps.

Methods include being able to send messages on behalf of a user and reading conversations.

Because of the security and usability implications it would make sense to draft a specification first.

examples:

[code]

[code]

[2020-05-18 15:53] 3esmit commented on #117
This is very important for the convergence of chat platform.
As being a web3 provider, Status is providing a new capability to web3: real-time messaging, which can be used by other web3 dapps to support chat, which is interoperable with the Status Network.

[2020-05-18 16:08] bgits commented on #117
A more advanced use case I don't expect to be part of the initial spec. Having these initial methods will enable functionality such as incentivized DApp notifications.

High level: Any user that visits a DApp can see which events have not been sent to target users and can use this api to send notifications and submit proofs of sending for compensation.

[2020-05-20 12:13] Samyoul opened #123 "Clarification on Status node roles"
Following from an issue raised in #114 . The language regarding Status nodes is ambiguous and doesn't clearly describe the requirements of a Status node, additionally raises a number of unanswered questions.

See below for the related section:

https://github.com/status-im/specs/blob/56d5a2ff3949f3d2a68c70e1ae6780d2a080f16d/docs/stable/1-client.md#L103-L114

---

Discussion from https://github.com

[2020-05-20 13:56] Samyoul opened #125 "Update 'whispermail' to `wakumail`"
As discussed https://github.com/status-im/specs/pull/114#discussion_r427234284 `status-go` still uses the `whispermail` and `whisper` topics

* All `whispermail` https://github.com/status-im/status-go/search?q=whispermail&unscoped_q=whispermail
* No `wakumail` https://github.com/status-im/status-go/search?q=wakumail&unscoped_q=wakumail

- - -
Change `whispermail` topic to `wakumail` and `whisper`

[2020-05-20 17:13] Samyoul opened #126 "Remove/Replace Whisper RPC shh_ and shhext_ methods"
At the time of writing `status-go` has a lot of usages of Whisper RPC method calls (`shh_`) or extension method calls (`shhext_`).

## The `status-go` Code
<details>
<summary>shh_ results</summary>

* Targets
  * Occurrences of 'shh_' in project
* Found Occurrences (55 usages found)
  * Unclassified occurrence (3 usages found)
    * services\ext (2 usages found)
      * README.md (2 usages found)

[2020-05-20 23:04] Samyoul commented on #126
This may be related or a separate issue but I think that we should have documentation for all Waku jRPC API calls

See https://github.com/ethereum/go-ethereum/wiki/Whisper-v6-RPC-API

---

Addressed with in https://github.com/vacp2p/specs/pull/135

[2020-05-20 23:37] Samyoul commented on #126
See https://github.com/status-im/specs/pull/114/commits/be1997bd5b135fab522d8ffc8df9e6d2759e6a45 Waku jRPC calls are present in `status-go`. Do further research.

[2020-05-21 05:07] oskarth commented on #123
cc @decanus

[2020-05-21 13:36] Samyoul commented on #126
The equivalent Whisper V6 RPC methods are present in `waku_` and `wakuext_` form. Require documenting, currently being addressed in vacp2p/specs#135.

[2020-05-21 13:36] #126 closed, assigned to nobody

[2020-05-21 14:49] Samyoul opened #127 "Re-sequence spec new numbers"
## Problem

Not a major problem, but with the eventual merging of https://github.com/status-im/specs/pull/114 there will be the following numbered specs:

- `stable/8-eips`
- `draft/sticker-pack` (internally numbered as `8`)
- `stable/9-ethereum-usage`
- `stable/9-waku-usage`
- `draft/9-3rd-party`
- `stable/10-waku-mailserver`

## Proposal

Reorder the specs as follows:

- `stable/8-eips`
- `stabl

[2020-05-22 14:06] Samyoul commented on #61
Finally merged https://github.com/status-im/specs/pull/114

[2020-05-22 20:12] #61 closed, assigned to Samyoul

[2020-05-25 08:29] #127 closed, assigned to Samyoul

[2020-05-29 10:16] Samyoul commented on #116
Last call to @status-im/status-core , do you have an opinion on the questions here?

If not no problem, I will proceed with the proposal

[2020-06-01 12:21] bgits commented on #117
@status-im/status-protocol @flexsurfer

[2020-06-01 20:33] bgits opened #133 "Implement indexing layer"
Currently all data is read from a node/node service (infura) using the JSON-RPC for ethereum data and IPFS for file storage.

A client may need to request and process more data than is necessary for a use case. This leads to more bandwidth consumption, longer load times and likely more battery consumption from data processing.

In the case of the JSON-RPC, there is also a lack of error codes so in

[2020-06-02 15:55] Samyoul opened #134 "Implement Passive Voice / General Grammar Linter"
With the implementation of https://github.com/status-im/specs/pull/132 this repo needs an automated method of alerting contributors that a change they've made introduces use of the passive voice.

I've done some research and [LanguageTool](https://github.com/languagetool-org/languagetool) has the ability to scan text and highlight this kind of grammatical analysis. Language also has the ability to

[2020-06-02 19:11] jakubgs commented on #134
I general you'd ran a bot to talk to GitHub, like this one for example:
https://github.com/status-im/status-github-bot

Those bots - also known as GitHub Apps - work by exposing an HTTP endpoint - a webhook - that gets called by GitHub on specific events:
https://developer.github.com/webhooks/
You can see the different types of events that a webhook can be triggered on here:
https://developer.gith

[2020-06-02 19:24] jakubgs commented on #134
An alternative, if we want to just make a wrapper around LanguageTool - would be to simply add that functionality to `status-github-bot` as yet another module.

Not ideal, but would be marginally simpler, since I don't really know how its auth works, so I'd have to figure that out.

[2020-06-03 22:02] #115 closed, assigned to nobody

[2020-06-10 13:41] rajeevgopalakrishna commented on #123
Don't Status Clients HAVE to implement Whisper relayers (along with Mobile node)? If not, who else will relay the p2p envelopes? Unless, the architecture implements specific Whisper relay nodes outside of the Client.

I suppose the current Status Client _does_ implement relaying without an option to disable it - correct?

[2020-06-11 04:00] oskarth commented on #123
It depends on how we define relaying precisely. See

Mobile nodes publish their own messages, but they never relay other nodes messages. Only "relay/full nodes" (in our cluster, largely) do this. (Desktop might look different).

[2020-06-11 04:31] rajeevgopalakrishna commented on #123
Agree, if we define relay as "receive and pass on, a particular object" then Mobile nodes today do not relay any envelopes. They only publish their own messages and receive messages (of which some are) meant for them.

So this implies that relaying is only implemented in the Whisper relayers or Full nodes (those listed under _whisper_/_rendezvous_ in https://fleets.status.im/ ?).

Effectively, Mob

[2020-06-11 06:09] oskarth commented on #123
I forgot to link at the time, but this is probably the best place to continue this discussion

[2020-06-11 07:25] kdeme commented on #123
One thing that creates confusion in the currently defined roles is that some of the roles are purely Waku/Whisper roles and then some are at the level of the Status application.

I think these need to be split off. There are the roles within each protocol (e.g. Waku light node). And the roles as a Status client.

[2020-06-16 11:55] hesterbruikman commented on #117
@bgits  @3esmit to clarify. When you describe `dapps` are you referring to browser based dapps exclusively or might this include 'native' API use, e.g. in the case of extensions?

Trying to understand the scope of the proposed spec and user stories it would cover.

[2020-06-16 11:58] bgits commented on #117
I was referring specifically to browser based dapps as that is the largest type of dapp that exists today.

[2020-06-17 14:51] Samyoul opened #136 "Document detailing the status-go binding API"
The compiled `status-go` binary exposes a number of endpoints that are consumed by desktop and mobile implementations of the Status app.

API endpoints are specified in code her https://github.com/status-im/status-go/tree/develop/mobile

C bindings are generated here https://github.com/status-im/status-go/tree/develop/cmd/library

[code]

[2020-06-29 13:03] 0kok0 opened #144 "Sec considerations for ENS Name resolution in mentions"
During the Core Dev Call 32 it was brought up the possibility to maliciously trigger rpc calls to the eth node when @mentions are resolved from the ENS. Potentially this can be abused if the lookup is not cashed and bounded, for example for DOS amplification on the eth node or to trigger node blacklisting on infuras end.

- Options 1: peer side rate limit for ENS lookups
- Option 2: Limit ENS reso

[2020-06-30 13:52] arnetheduck commented on #136
Hm, writing a spec for this seems both a bit early and a bit like busy work - ie this would be a natural part of the API documentation of the library itself, and it's probably too early to formalize it into a spec per se

[2020-06-30 14:24] Samyoul commented on #136
You are probably right. We need somewhere to document the API, and on reflection in the spec may not be the correct place. I believe that some global document would be a better location than in the library directly as, although the lib exposes the API, the various Status clients are dependant on the API and each need to implement calls to the methods.

[2020-07-22 14:55] 0kok0 commented on #117
Cross post: https://github.com/status-im/status-react/pull/10910#issuecomment-662499998

[2020-07-27 14:48] 3esmit commented on #112
For Ethereum specifics, I suggest:
Falling into [ERC-831](https://eips.ethereum.org/EIPS/eip-831):
- `ethereum:pay-`: [ERC-681](https://eips.ethereum.org/EIPS/eip-681), opens payment wall with default account;
- `ethereum:tx-`: [ERC-2400](https://eips.ethereum.org/EIPS/eip-2400), checks and display transaction (offer link to view in etherscan).
- `ethereum:app-` ERC-TBD, opens a etheruem based DAp

[2020-07-27 15:10] hesterbruikman commented on #112
Thanks @3esmit. I think this makes a good topic for one of the next core dev calls. Will keep an eye on the agenda. Tomorrow might be a bit soon ass there's also notifications and outcome of roadmap planning to discuss, but let's see

[2020-10-12 05:29] staheri14 opened #152 "A suggested outline for the protocols' specs"
This issue encapsulates a suggested outline for the protocols' specs.

**Protocol Overview**
The protocol overview may include the followings:

* A Black box description: this part describes the protocol layer as a back box only with its inputs and outputs (just the interface). Also, the list of services that shall be provided by this layer e.g.,
  1. Service 1: description …
  1. Service 2: descr

[2020-10-12 05:30] staheri14 opened #153 "Suggested improvements on the specs and documentations"
This issue encapsulates some suggested improvements on the specs and documentations.

The suggested improvement is to add a section to the client spec https://github.com/status-im/specs/blob/master/docs/stable/1-client.md (or even dedicate a separate spec) describing a centralized messaging system with its services followed by a 1-1 mapping between those services and different layers of the protoc

[2021-08-03 04:43] oskarth opened #155 "Improve spec flow process"
*This issue is basically about cleaning up the process for Status specs similarly to what has been done for Vac specs**.

# Problem

Currently we use the COSS model (https://github.com/unprotocols/rfc/blob/master/2/README.md) for change management.

However, we don't do so fully and have some ad hoc processes. This complicates things needlessly, around versioning, breaking urls, etc.

## Proposed

[2022-01-09 22:58] D4nte opened #163 "Limit flooding of Community Owner's nodes"
## Problem

Currently, the Waku (v2) network does not implement anti-spam solutions. Work is currently in progress with RLN https://github.com/status-im/nim-waku/issues/394 https://rfc.vac.dev/spec/17/.

In the following Community type:
- restricted with auto-approval
- restricted with manual approval
- Token gated with auto-approval
- Token gated with manual approval

Community Owner's nodes have

[2022-01-09 22:58] D4nte commented on #163
@cammellos @John-44 I tried to summarize the problem we are trying to solve, please let me know if I am correct.

[2022-01-09 23:00] D4nte commented on #163
Regarding 2, I am not convinced it can be an issue. If a community is token gated then the Community Owner should set the minimal number of tokens to a significant amount (e.g. $5) to stop this kind of flooding.

Can you please clarify what is the possible spamming scenario with token gated communities?

[2022-01-09 23:09] D4nte commented on #163
Here are some relevant research done for project plebbit:

- https://github.com/plebbit/whitepaper/discussions/2
- https://forum.vac.dev/t/idea-on-how-to-run-a-captcha-service-over-gossipsub/108

[2022-01-14 11:02] D4nte commented on #163
The project plebbit is still designing their decentralized captcha. I am not totally convinced at this stage that we can apply their design to an application level as their design rely on nodes being aware of the captcha protocol and being able to block out spammer that sends captcha challenge requests without captcha challenge solutions.

It means that such design would sit better at Waku protoco

[2022-01-18 05:48] D4nte commented on #163
After further review, please note that it should be possible to use RLN in this scenario.

[2022-10-03 19:38] bhflm opened #168 "Status specs wrongly numbered"
Not critical, just a minor detail.

Was going over the Waku docs (https://specs.status.im/spec/1) and found out that the current sort is not the intended one (numeric, rather than alphabetic)

<img width="945" alt="image" src="https://user-images.githubusercontent.com/23338712/193663389-59c824bd-43c1-49b7-989c-d0ce62f5908a.png">

I have a hunch that they're being assigned by `string` rather than b

[2022-10-05 09:05] jm-clius commented on #168
Thanks for this @bhflm! I'm going to transfer this issue to the [Status specs](https://github.com/status-im/specs/issues) repo, as these Waku v1 _usage_ specs are maintained there. :) It's indeed a bit confusing, as the Waku specs (those not addressing Status usage) are indeed maintained by our teams. The specs we maintain are all on rfc.vac.dev.